*{
    margin: 0;
    padding: 0;
    font-family: Assistant;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
/* header css starts */
.header{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: white;
    justify-content: space-around;
    position: fixed;
    box-shadow: 0px 1px 10px grey;
    z-index: 1;
}
.logo{
    width: 50px;
    margin-left: 30px;
    margin-top: 10px;
}
.menu{
    padding: 30px 0px;
    height: 83.23px;
    width: 475px;
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    color: #282C3F;
    justify-content: space-around;
    gap: 30px;
    margin-left: 20px;
    margin-top: -5px;
}
.menu-items{
    height: 83.23px;
    padding-top: 5px;
}
.menu-items:hover{
    cursor: pointer;
}
.men{
    height: 62%;
    position: relative;
    overflow: hidden;
    transition: 0.2s;
}
.hover{
    height: 700px;
    width: 1540px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 48px;
    left: -190px;
    transition: 0.2s;
}
.categories{
    background-color: transparent;
    margin: auto;
    width: 74%;
    height: 63%;
    position: absolute;
    top: 0px;
    left: 140px;
    transition: 0.5s;
    transition-delay: 0.2s;
    display: flex;
}
.men:hover{
    overflow: visible;
}
.hover:hover .categories{
    opacity: 0;
}
.men:hover .categories{
    opacity: 1;
}
.col1{
    width: 230px;
    padding: 15px 40px;
    text-transform: none;
    opacity: 0;
    transition-delay: 0.2s;
    background-color: white;
}
.cat-head{
    color: #ee5f73;
}
.cat-content{
    margin-top: 8px;
    font-weight: normal;
    font-size: 15px;
}
.cat-contents{
    margin-bottom: 3px;
}
.cat-contents a{
    text-decoration: none;
}
.cat-contents a:visited{
    color: #282C3F;
}
.cat-contents a:active{
    color: #282C3F;
}
.men:hover .col1{
    opacity: 1;
}
.cat-contents:hover{
    font-weight: bold;
}
.col1 hr{
    width: 70%;
    margin: 15px 0px;
    border: 0.5px solid #EDEDEF;
}
.searchbox{
    width: 540px;
    border-radius: 5px;
    border: none;
    display: flex;
    padding-left: 20px;
}
.search{
    padding: 10px;
    color: rgb(113,114,136);
    background-color: #F5F5F6;
}
.box{
    padding: 10px;
    width: 100%;
    background-color: #F5F5F6;
}
.searchbox input{
    font-size: 14px;
    width: 100%;
    border: none;
    background-color: transparent;
}
.searchbox input:focus{
    outline: none;
}
.profile{
    display: flex;
    text-align: center;
    width: 200px;
    gap: 25px;
}
.icon i{
    font-size: 16px;
}
.icon p{
    font-size: 12px;
    font-weight: 700;
}
.icon a{
    text-decoration: none;
}
.icon a:active{
    color: #282C3F;
}
.icon a:visited{ 
   color: #282C3F;
}

/* header css ends */

/* sub-header css starts */
.sub-header{
    padding: 106px 0px 10px 27px;
}
.row1{
    display: flex;
    gap: 5px;
    font-size: 14px;
    color: #282C3F;
}
.r1{
    font-weight: 700;
}
/* sub header css ends */

.body{
    width: 100%;
    display: flex;
}

/* left body starts */
.left-body{
    width: 875px;
    height: 1700px;
    margin-top: 16px;
    padding-left: 28px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}
.images{
    height: 562px;
    width: 419px;
    overflow: hidden;
}
.images img{
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
.images:hover img{
    cursor: zoom-in;
    transform: scale(1.04);
}

/* left body ends */

/* right body starts */

.right-body{
    margin-top: 11px;
    margin-left: 31px;
}
.head{
    font-weight: 700;
    font-size: 24px;
    color: #282C3F;
}
.sub-head{
    color: #757884;
    font-size: 20px;
}
.rating{
    margin-top: 15px;
    width: 146px;
    font-size: 16px;
    padding: 3px 8px;
    display: flex;
    gap: 5px;
    border: 1px solid #EAEAEC;
    border-radius: 2px;
}
.rating:hover{
    border: 1px solid black;
}
.rating i{
    font-size: 11px;
    color: #14958F;
}
.hr hr{
    width: 585px;
    margin: 13px 0px;
    border: 0.5px solid #D4D5D9;
}
.row3{
    display: flex;
    margin-top: -3px;
    gap: 15px;
}
.r2{
    margin-top: 5px; 
    color: #535665;
    font-size: 20px; 
}
.r3{
    color: #FF905A;
    font-weight: 700;
    font-size: 20px; 
    margin-top: 5px; 
}
.row4{
    color: #03A685;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 700;
}
.r5{
    display: flex;
    gap: 30px;
    font-weight: 700;
    margin-top: 28px;
    color: #282C3F;
}
.r51{
    color: black;
}
.r52{
    color: #ee5f73;
    text-transform: uppercase;
    display: flex;
    gap: 5px;
    font-size: 15px;
}
.r52 i{
    color: #ee5f73;
    font-size: 12px;
}
.size{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.circle{
    height: 50px;
    width: 50px;
    border: 1px solid #BFC0C6;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    padding-top: 15px;
}
.circle:hover{
    border: 1px solid #FF3E6C;
}
.r7{
    margin-top: 33px;
    display: flex;
    gap: 15px;
}
.addtobag{
    background-color: #FF3E6C;
    text-align: center;
    padding: 15px 0px;
    display: flex;
    width: 285px;
    border-radius: 5px;
    gap: 15px;
    color: #FFEDF1;
    font-weight: 700;
}
.addtobag div:nth-child(1){
    margin-left: 88px;
    font-size: 18px;
}
.wishlist{
    border: 1px solid #D4D5D9;
    text-align: center;
    padding: 15px 0px;
    display: flex;
    width: 190px;
    border-radius: 5px;
    gap: 10px;
    font-weight: 700;
}
.wishlist:hover{
    border: 1px solid black;
}
.wishlist div:nth-child(1){
    margin-left: 50px;
    font-size: 18px;
}
.delivery{
    display: flex;
    gap: 10px;
    margin-top: 30px;
    font-weight: 680;
    text-transform: uppercase;
}
.pincode{
    margin-top: 18px;
    padding: 10px;
    border: 1px solid #D4D5D9;
    border-radius: 5px;
    width: 250px;
    display: flex;
    gap: 5px;
}
.pincode input{
    width: 180px;
    font-size: 16px;
    border: none;
}
.pincode input:focus{
    outline: none;
}
.pincode div{
    font-size: 14px;
    color: #ee5f73;
    font-weight: 700;
    padding-top: 2px;
}
.desc{
    margin-bottom: 10px;
    color: #282C3F;
}
.r5 span{
    color: #FF905A;
}
.ul{
    margin-left: 14px;
    margin-bottom: 12px;
}
.ul li{
    margin-top: 8px;
    margin-bottom: -2px;
}
.ul li::marker{
    font-size: 12px;
}
.tnc div:nth-child(1){
    color: #FF3F6C;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 17px;
}
.tnc div:nth-child(2){
    font-weight: 650;
}
.tnc div:nth-child(3){
    color: #282C3F;
    font-size: 14px;
    margin: 9px 15px 10px 15px;
}
.specs{
    display: flex;
    width: 100%;
    gap: 10%;
}
.left-specs{
    margin-top: 5px;
    width: 40%;
}
.spec-head{
    font-size: 12px;
    color: #7E818C;
    margin-bottom: 3px;
}
.spec-hr{
    border: 0.5px solid #EAEAEC;
    margin: 8px 0px;
}
.left-rating{
    position: relative;
}
.left-rating div:nth-child(1){
    font-size: 48px;
    margin-top: 12px;
    margin-left: -8px;
}
.left-rating div:nth-child(2) i{
    font-size: 18px;
    position: absolute;
    top: 40px;
    left: 63px;
}
.left-rating div:nth-child(3){
    margin-left: -8px;
    font-size: 14px;
    padding: 10px 0px;
    color: #282C3F;
    width: 110px;
}
.rating>hr{
    height: 95px;
    margin-top: 15px;
    border: 0.5px solid #EAEAEC;
}
.right-rating{
    margin-left: 9px;
    margin-top: 12px;
}
.right-rating div{
    display: flex;
    color: #A9ABB3;
    font-size: 15px;
    gap: 4px;
    margin-bottom: -1px;
}
.right-rating div i{
    color: #D5D5DA;
    font-size: 7px;
    margin-top: 6px;
}
.score{
    background-color: #F5F5F6;
    height: 4px;
    width: 120px;
    margin-top: 7px;
    margin-left: 3px;
}
.rate{
    width: 55%;
    background-color: #14958F;
    height: 100%;
}
.rate1{
    width: 25%;
    background-color: #14958F;
    height: 100%;
}
.rate2{
    width: 10%;
    background-color: #72BFBC;
    height: 100%;
}
.rate3{
    width: 3%;
    background-color: #FCB301;
    height: 100%;
}
.rate4{
    width: 5%;
    background-color: #F16565;
    height: 100%;
}
.right-rating div span{
    color: #282C3F;
    font-size: 12px;
    margin-left: 5px;
}
.right-body>.score{
    width: 140px;
    margin-left: 0px; 
    margin-bottom: 15px; 
    background-color: #EAEAEC;
    border-radius: 5px;
    position: relative;
}
.right-body>.score>.rate{
    width: 77%;
    background-color: #03A685;
    border-radius: 5px;
}
.percent{
    position: absolute; 
    top: -8px; 
    left: 150px; 
    width: 110px; 
    font-size: 14px; 
    font-weight: 700; 
    color: #3E4152;
}
.customer{
    height: 75px;
    width: 75px;
    position: relative;
}
.customer img{
    height: 100%;
    width: 100%;
}
.customer div:nth-child(2){
    height: 100%;
    width: 100%;
    background-color: rgba(40, 44, 63, 0.8);
    position: absolute;
    top: 0px;
    left: 0px;
}
.customer div:nth-child(3){
    color: white;
    margin: auto;
    position: absolute;
    top: 29px;
    left: 29px;
    font-weight: 700;
}
.reviews{
    display: flex;
    margin-top: 20px;
    gap: 6px;
}
.left-review{
    background-color: #14958F;
    height: 15px;
    width: 23px;
    font-size: 11px;
    font-weight: 700;
    color: white;
    text-align: center;
    padding-left: 2px;
}
.left-review i{
    color: white;
    font-size: 8px;
    margin-left: 2px;
}
.right-review{
    margin-top: -20px;
    color: #282C3F;
}
.right-review>div{
    width: 550px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.review1{
    font-size: 14px;
    display: flex;
    color: #565A63;
    gap: 6px;
}
.review2{
    margin-top: -2px;
    display: flex;
    gap: 40px;
    font-size: 14px;
    color: #565a63;
}
.review2 i{
    margin: 0px 5px;
}
/* right body ends */

/* footer starts */

.footer{
    background-color: #FAFBFC;
    margin-top: 30px;
}
.about{
    display: flex;
    background-color: #FAFBFC;
    justify-content: center;
    width: 1080px;
    margin: auto;
}
.columns{
    width: 170px;
    padding: 15px 20px 0px 0px;
}
.heading{
    font-size: 12px;
    font-weight: 700;
    padding: 30px;
    padding-left: 0px;
    text-transform: uppercase;
    color: #282C3F;
}
.content{
    color: #696B79;
}
.contents{
    padding-bottom: 3px;
    text-transform: capitalize;
}
.content-images{
    width: 375px;
    display: flex;
}
.content-image{
    width: 42%;
}
.content-icons{
    width: 40%;
    display: flex;
    gap: 15px;
}
.content-icons img{
    width: 20px;
    height: 20px;    
}
.content-img{
    width: 65px;
    padding-top: 35px;
}
.content-img img{
    width: 45px;
    padding-bottom: 30px;
}
.content-text{
    width: 300px;
    color: #696B79;
    padding-top: 35px;
}
.content-text div{
    padding-bottom: 30px;
}
.content-text span{
    color: #282C3F;
    font-weight: 700;
}
.popular{
    width: 1080px;
    margin: auto;
    margin-top: -15px;
}
.heading hr{
    width: 960px;
    border: 1px solid #EAEAEC;
    margin-left: 120px;
    margin-top: -10px;
}
.content p{
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
    word-spacing: 1px;
}
.popular-footer{
    width: 1080px;
    display: flex;
    justify-content: space-between;
}
.popular-text{
    color: #94969F;
}
.content span{
    color: #526CD0;
    font-weight: 700;
}
.popular-text span{
    color: #526CD0;
    font-weight: 700;
}
/* footer ends */